[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
	shallow = true
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
	shallow = true
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
	shallow = true
[submodule "vendor/doctest"]
	path = vendor/doctest
	url = https://github.com/doctest/doctest
	shallow = true
[submodule "vendor/mio"]
	path = vendor/mio
	url = https://github.com/mandreyel/mio
	shallow = true
[submodule "vendor/lexy"]
	path = vendor/lexy
	url = https://github.com/foonathan/lexy
	shallow = true
[submodule "vendor/flags"]
	path = vendor/flags
	url = https://github.com/sailormoon/flags.git
	shallow = true
