[submodule "vendor/doctest"]
	path = vendor/doctest
	url = https://github.com/doctest/doctest.git
[submodule "vendor/mio"]
	path = vendor/mio
	url = https://github.com/mandreyel/mio.git
[submodule "vendor/libsquish"]
	path = vendor/libsquish
	url = https://github.com/lmichaelis/phoenix-libsquish.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
